CentralBank/Connected Services/ServiceReference1/ServiceBank2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60551/ServiceBank.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankApi.model" />
  <xs:element name="AddUplatnica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankApi.model" minOccurs="0" name="uplatnica" nillable="true" type="q1:UplatnicaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUplatnicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUplatnicaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIzvod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIzvodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankApi.model" minOccurs="0" name="GetIzvodResult" nillable="true" type="q2:ArrayOfUplatnicaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsplataIzvrsena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsplataIzvrsenaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>